@model ProductViewModel
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_LayoutOwner.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6 my-auto">
            <div class="bg-light rounded h-100 p-4 ">
                <div class="form-floating mb-3 text-center ">
                    <img src="@Model.ImageUrl" height="350" />
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4 ">
                <div class="form-floating mb-3 text-center">
                    <form asp-action="UpdateProduct" asp-controller="Owner" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <input type="hidden" asp-for="ImageUrl" />
                        <div class="form-floating mb-3">
                            <input class="form-control" placeholder="Örn. Kutu Kola" asp-for="Name">
                            <label asp-for="Name">Ürün Başlığı</label>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-floating">
                            <textarea asp-for="Description" class="form-control mb-3" style="height: 150px;" placeholder="Ürün Açıklaması"></textarea>
                            <label asp-for="Description">Ürün Açıklaması (Opsiyonel) </label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" min="0" type="number" asp-for="Stock" placeholder="Adet">
                            <label asp-for="UnitPrice">Ürün Adeti</label>
                            <span asp-validation-for="UnitPrice" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" placeholder="Ürün Fiyatı" asp-for="UnitPrice">
                            <label asp-for="UnitPrice">Ürün Fiyatı</label>
                            <span asp-validation-for="UnitPrice" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <select class="form-select" asp-for="CategoryId" asp-items="ViewBag.Categories">
                                <option selected disabled>Kategori Seçiniz</option>
                            </select>
                            <label asp-for="CategoryId">Kategori</label>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <button class="btn btn-secondary w-100 m-2" type="submit">Ürünü Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

