@{
	ViewData["Title"] = "About";
	Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<section class="bg-img1 txt-right  p-lr-15 p-tb-92" style="background-image: url('/themes/cozastore-master/images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-right me-auto">
		Hakkımızda
	</h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
	<div class="container">
		<div class="row p-b-148">
			<div class="col-md-7 col-lg-8">
				<div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
					<h3 class="mtext-111 cl2 p-b-16">
						Tarihçemiz
					</h3>

					<p class="stext-113 cl6 p-b-26">
						İstanbul'un Beşiktaş ilçesinde eski ve metruk bir otomobil garajında teknolojik çözümler sunmak üzere 3 girişimci ve yazılımcının kurduğu <b>MFE CODE ACADEMY</b>, Milli Eğitim Bakanlığının özel talebi doğrultusunda 2019 yılında <b> "KANTİNDENAL" </b> projesini hayata geçirdi. Projenin amacı Kantinci, Veli ve Yemek Firmalarını tek çatı altında buluşturup ailelerin çocuklarına okulda güven ortamında yemek ve kantin ihtiyaçlarını karşılamaktır. '
					</p>

					<p class="stext-113 cl6 p-b-26">
						KantindenAl projesi ile kurumsal işbirliklerini arttırmaya devam eden MFE CODE ACADEMY bünyesinde hali hazırda 10'un üzerinde teknoloji desteği verdiği bir proje yürütmektedir. '
					</p>

					<p class="stext-113 cl6 p-b-26">
						Kurumsal işbirlikleri ve teknoloji desteği hakkında detaylı bilgi almak için +90 535 064 7614 +90 539 837 5320 numaraları üzerinden kurumsal hizmetlerimiz hakkında bilgi sahibi olabilirsiniz.
					</p>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="/images/pexels-johannes-plenio-1103970.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="order-md-2 col-md-7 col-lg-8 p-b-30">
				<div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
					<h1 class="mtext-111 cl2 p-b-16">
						MİSYON ve VİZYONUMUZ
					</h1>

					<p class="stext-113 cl6 p-b-26">
						<h2>Misyonumuz</h2>

						Müşterilerimize teknoloji dünyasının karmaşıklığını basit ve erişilebilir bir şekilde sunarak, onların işlerini ve yaşamlarını daha verimli ve kolay hale getirmek için buradayız. Teknolojiyi insanlar için daha anlaşılır ve dostça hale getirmek, işimizin temel taşıdır.

						<h4>Müşteri Odaklılık</h4>

						Müşterilerimizin ihtiyaçlarını anlamak ve onları karşılamak için çaba gösteriyoruz. Onların teknolojiye olan gereksinimlerini anlamak, sunduğumuz hizmetlerin kalitesini artırma yolunda ilham kaynağımızdır.

						<h4>Mükemmelliyet ve İnavasyon</h4>
						Sürekli olarak mükemmeliyeti hedefleyerek ve yenilikçi çözümler sunarak, teknoloji alanında öncü olmayı amaçlıyoruz. Müşterilerimize en son teknolojileri ve en iyi uygulamaları sunarak, iş dünyasının ve yaşam tarzlarının değişen gereksinimlerini karşılamaya devam ediyoruz.

						<h4>Güven ve Saygı</h4>
						Müşterilerimize ve çalışanlarımıza karşı dürüstlük ve saygıya büyük bir değer veriyoruz. Güvenilir bir ortak olarak, müşterilerimizin verilerini ve işlerini koruma taahhüdümüzü sürdürüyoruz.

						<h4>Sürdürebilirlik</h4>
						Teknolojiyi daha sürdürülebilir bir şekilde kullanmaya katkıda bulunmak için çalışıyoruz. Çevre dostu teknoloji çözümleri sunarak, gezegenimizi ve gelecek nesilleri koruma taahhüdümüzü yerine getiriyoruz.

						<h4>Topluma Katkı</h4>
						Topluma olan sorumluluğumuzu önemsiyor ve teknolojinin yaygınlaştırılmasına yardımcı olmak için çeşitli eğitim ve yardım projelerine katkı sağlıyoruz.

						<h2>Vizyonumuz</h2>
						Gelecekte, teknolojiyi anlayışlı, sürdürülebilir ve erişilebilir hale getirmek için sürekli çalışacağız. Müşterilerimizin başarısına katkıda bulunmak ve dünya genelinde teknoloji kullanımını iyileştirmek için öncü bir rol oynamak istiyoruz.
					</p>

					<div class="bor16 p-l-29 p-b-9 m-t-22">
						<p class="stext-114 cl6 p-r-40 p-b-11">
							"Teknolojiyi doğru kullanırsanız, sınırları aşabilirsiniz."
						</p>

						<span class="stext-111 cl8">
							- SIR ESAT ZUBEYIR TISLI
						</span>
					</div>
				</div>
			</div>

			<div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
				<div class="how-bor2">
					<div class="hov-img0">
						<img src="/images/missions.jpg.jpg" alt="IMG">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

