@{
    ViewData["Title"] = "FAQ";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<section class="bg-img1 txt-center p-lr-5 ">
    <img src="/images/sss-03.jpg" alt="IMG">

    <h2 class="ltext-105 cl0 txt-center">
        Sıkça Sorulan Sorular
    </h2>
</section>


<!-- Content page -->

<div class="accordion w-100" id="basicAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#basicAccordionCollapseOne" aria-expanded="false" aria-controls="collapseOne">
                Sizinle Nasıl İletişime Geçebilirim ?
            </button>
        </h2>
        <div id="basicAccordionCollapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
             data-mdb-parent="#basicAccordion" style="">
            <div class="accordion-body">
                Bizimle iletişime geçmek için, iletişime sayfamızda yer alan bilgileri kullanabilirsiniz.İster mail, ister telefon yoluyla isterseniz de ofisimize gelip bizleri ziyaret edebilirsiniz.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#basicAccordionCollapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Sisteminizin ücreti ne kadar ?
            </button>
        </h2>
        <div id="basicAccordionCollapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
             data-mdb-parent="#basicAccordion" style="">
            <div class="accordion-body">
                Bu konu hakkında detaylı bilgilendirme için satış ve destek ekibimizle iletişime geçebilir veya numaranızı iletişim sayfasından iletirseniz ilgili birimimiz sizinle iletişime geçecektir.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#basicAccordionCollapseThree" aria-expanded="false" aria-controls="collapseThree">
                Bir kantin işletmecisi olarak bu sistemin bize ne gibi bir faydası olacaktır ?
            </button>
        </h2>
        <div id="basicAccordionCollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
             data-mdb-parent="#basicAccordion" style="">
            <div class="accordion-body">
                Bulut tabanlı sistemimiz sayesinde kantin işletmeleri, veliler ve öğrenciler ile doğrudan iletişime geçmeden ürün sipariş ve sipariş ödeme yöntemleri konusunda kişi bağımsız bir süreç yönetimi yaparak hem zamandan hem de onlarca kişiyle iletişime geçmeden tüm süreçlerinizi yönetebilirsiniz.
            </div>
        </div>
    </div>

        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#basicAccordionCollapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Bir öğrenci velisi olarak bu sistemin bize ne gibi bir faydası olacaktır ?
                </button>
            </h2>
            <div id="basicAccordionCollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                 data-mdb-parent="#basicAccordion" style="">
                <div class="accordion-body">
                    Bulut tabanlı sistemimiz sayesinde öğrenci velileri, velisi oldukları öğrencilerin siparişlerini izleyebilecek ve hatta siparişlerini kendilerini verebilecektir. Bu sayede gün içerisinde çocuklarının kantinden ne yediğine ve içtiğine kişi bağımsız bir ortam sayesinde kolayca ulaşabilecek veya siparişlerini oluşturabilecektir.
                </div>
            </div>
        </div>
    </div>
